<section
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-40 transition-all duration-500 h-full max-h-[700px] sm:max-h-[560px] md:max-h-[650px] w-full max-w-4xl rounded-2xl transform  overflow-visible px-4 lg:px-0"
    [class]="{
        'scale-100': viewControlService.viewType() === viewType,
        'scale-0': viewControlService.viewType() !== viewType,
    }">
    <div
        class="flex flex-col w-full h-full rounded-2xl shadow-lg shadow-amz-tertiary/20 bg-linear-to-br from-amz-neutral/90 to-amz-neutral">
        <!-- Header -->
        <div
            class="flex justify-between items-center w-full h-16 md:h-22 rounded-t-2xl px-4 md:px-8 border-b border-gray-300">
            <h1 class="text-lg sm:text-xl font-bold text-amz-primary">Acerca de esta aplicación</h1>
            <button class="btn btn-sm btn-circle btn-ghost" (click)="close()">
                <icon-close [size]="32" />
            </button>
        </div>
        <!-- Body -->
        <div class="h-full overflow-y-auto px-4 md:px-8 py-6">
            <!-- Autor -->
            <author-profile />

            <!-- About Project -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-6 mb-8">
                <source-links />
                <educational-context />
                <legal-info />
            </div>

        </div>

        <!-- Footer -->
        <static-footer />
    </div>
</section>