<section class="w-full h-full relative bg-amz-neutral pr-4">

    <nav-controls [siteId]="site().id" />

    <article
        class="flex flex-col sm:flex-row gap-0 sm:gap-8 px-4 py-4 sm:px-8 sm:pt-8 h-full overflow-y-auto sm:overflow-y-visible">

        <site-image [siteImage]="site().imageUrl" [siteName]="site().name" />

        <div class="w-full h-full sm:overflow-y-auto flex flex-col mb-12 sm:mb-0">

            <header-info [site]="site()" />

            <p class="pt-0 mt-0 pb-2 flex-grow whitespace-pre-line">{{ site().description }}</p>

            <bottom-actions [site]="site()" />
        </div>
    </article>

</section>